# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# Streamlit secrets (never commit real keys)
.streamlit/secrets.toml

# allow model files
!models/model.pkl
!models/columns.json